* {
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all .3s;
}

.barras {
    display: none;
}

.cabecalho {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo h1 a {
    font-family: Smooch Sans;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.nav-menu ul {
    display: flex;
    gap: 50px;
    font-family: Outfit;
}
.nav-menu ul li .login  {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 10px;
}
.nav-menu ul li .login:hover {
    border: none;
}

.nav-menu ul li a{
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: none;
}
.nav-menu ul li a:hover {
    border-bottom: 2px solid black;
}

.mobile-menu {
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 300px;
    position: absolute;
    top: 79px;
    transform: translateX(-100%);
    z-index: 99;
    left: 0;
    font-size: 20px;
    font-family: Outfit;
    display: none;
}
.mobile-menu ul li .login  {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 10px;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mobile-menu ul li {
    margin-top: 20px;
}
.mobile-menu ul li a {
    text-decoration: none;
    color: black;
}






.tela-login {
    padding: 0 10px;
    display: flex;
    margin-top: 100px;
}
.login {
    display: flex;
    height: 400px;
    padding: 20px;
    text-align: center;
    background-color: #ACE6FF;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
    gap: 40px;
    border-radius: 20px;
}

.login h1 {
    font-family: Outfit;
    letter-spacing: 2px;
    font-weight: 500;
}
.login p {
    font-family: Outfit;
}
.login form {
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login form input[type="text"], input[type="password"], input[type="email"] {
    height: 30px;
    outline: none;
    text-align: center;
    border-radius: 10px;
    border: solid 1px black;
}

.login button{
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #16475C;
    cursor: pointer;
    color: #fff;
    transition: all .3s;
    font-size: 15px;
}
.login button:hover {
    background-color: #226e8f;

}








#contato {
    padding: 0 100px;
    margin-top: 150px;
    background-color: #ACE6FF;
}

.local {
    display: flex;
    justify-content: space-between;
}
.local .endereco h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}
.local .endereco a {
    color: blue;
}

.endereco p i {
    font-size: 20px;
}
 
.local .endereco {
    letter-spacing: 2px;
    background-color: #ACE6FF;
    width: 50%;
    align-items: start;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-family: Outfit;
}


.mapa{
    width: 50%;
}

footer {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    height: 200px;
}

.logo-nav {
    height: 100%;
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.logo-nav h1 {
    font-family: Smooch Sans;
    letter-spacing: 2px;
    cursor: default;
    color: white;
}

.nav-footer ul{
    display: flex;
    gap: 50px;
    font-family: Outfit;
}

.nav-footer ul li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.redes-sociais {
    width: 50%;
    font-family: Outfit;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 50px;
}
.redes-sociais p {
    letter-spacing: 2px;
}
.redes-sociais i {
    font-size: 20px;
}
.mobile-menu #name {
    display: flex;
}
#name {
    display: none;
}
#nome {
    display: none;
}
#nome.ativo {
    display: flex;
}
#name.ativo {
    display: flex;
}






